@font-face {
  src: local('Montserrat-Regular'),
    url('/fonts/Montserrat-Regular.ttf') format('truetype');
  font-family: 'Montserrat-Regular';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: local('Montserrat-SemiBold'),
    url('/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-family: 'Montserrat-SemiBold';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: local('Montserrat-Bold'),
    url('/fonts/Montserrat-Bold.ttf') format('truetype');
  font-family: 'Montserrat-Bold';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CormorantGaramond-Medium';
  font-style: normal;
  font-weight: normal;
  src: local('CormorantGaramond-Medium'),
    url('/fonts/CormorantGaramond-Medium.woff') format('woff');
}

@font-face {
  font-family: 'CormorantGaramond-SemiBold';
  font-style: normal;
  font-weight: normal;
  src: local('CormorantGaramond-SemiBold'),
    url('/fonts/CormorantGaramond-SemiBold.woff') format('woff');
}
