@font-face {
  src: local('Montserrat-Regular'),
    url('~/static/fonts/Montserrat-Regular.woff2') format('woff2'),
    url('~/static/fonts/Montserrat-Regular.woff') format('woff'),
    url('~/static/fonts/Montserrat-Regular.ttf') format('truetype');
  font-family: 'Montserrat-Regular';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: local('Montserrat-SemiBold'),
    url('~/static/fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('~/static/fonts/Montserrat-SemiBold.woff') format('woff'),
    url('~/static/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-family: 'Montserrat-SemiBold';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: local('Montserrat-Bold'),
    url('~/static/fonts/Montserrat-Bold.woff2') format('woff2'),
    url('~/static/fonts/Montserrat-Bold.woff') format('woff'),
    url('~/static/fonts/Montserrat-Bold.ttf') format('truetype');
  font-family: 'Montserrat-Bold';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: local('CormorantGaramond-Medium'),
    url('~/static/fonts/CormorantGaramond-Medium.woff2') format('woff2'),
    url('~/static/fonts/CormorantGaramond-Medium.woff') format('woff');
  font-family: 'CormorantGaramond-Medium';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  src: local('CormorantGaramond-SemiBold'),
    url('~/static/fonts/CormorantGaramond-SemiBold.woff2') format('woff2'),
    url('~/static/fonts/CormorantGaramond-SemiBold.woff') format('woff');
  font-family: 'CormorantGaramond-SemiBold';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
