html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after,
button,
ul,
li {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  background: none;
  border: none;
  list-style: none;
  text-decoration: none;
}

body {
  background: var(--background-primary);
  line-height: 1.55;
}

button {
  cursor: pointer;
}

/* .page {
  position: relative;
} */
.content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.page-screen {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767px) {
  .page-screen {
    padding-left: 10px;
    padding-right: 10px;
  }
}
