@import './fonts/fonts.css';

:root {
  --background-primary: #fcf9f3;

  --white-primary: #ffffff;
  --white-secondary: #dde4f0;

  --black-primary: #000000;

  --grey-primary: #eeeeee;

  --grey-dark-primary: #343a3f;
  --grey-dark-secondary: #5f5f5f;

  --blue-primary: #d2e5fd;
  --blue-secondary: #819ac1;
  /* --blue-thirdary: #8cc4f6; */

  --blue-dark-primary: #5b6e8c;
  --blue-dark-secondary: #004c90;

  --purple-primary: #f589f5;

  --yellow-primary: #e6b052;

  --brown-primary: rgb(159, 138, 132);
  --brown-secondary: rgb(101, 82, 70);
  --brown-thirdary: #a08676;
  --brown-fourdary: rgb(101, 82, 70);

  --red-primary: #ff0000;
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after,
button,
ul,
li {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  background: none;
  border: none;
  list-style: none;
  text-decoration: none;
}

body {
  /* position: relative; */
  background: var(--background-primary);
  line-height: 1.55;
  overflow-x: hidden;

  /* text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

button {
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
}
.content__carousel {
  width: 100%;
  margin: 0 auto;
  padding-top: 70px;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form-label {
  font-family: 'Montserrat-Regular';
  font-size: 20px;
  color: var(--blue-dark-secondary);
}
.form-input {
  width: 100%;
  height: 60px;
  border: 1px solid var(--brown-thirdary);
  background: var(--background-primary);
  font-family: 'Montserrat-Regular';
  font-size: 16px;
  color: var(--black-primary);
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.3s ease all;
}
.form-input:focus {
  font-family: 'Montserrat-Regular';
  font-size: 16px;
  color: var(--black-primary);
  outline: 0;
  border: 1px solid var(--blue-primary);
}
.form-input::placeholder {
  font-family: 'Montserrat-Regular';
  font-size: 16px;
  color: var(--brown-thirdary);
}
.form-input-error {
  position: absolute;
  top: 93px;
  left: 0;
  font-family: 'Montserrat-Regular';
  font-size: 14px;
  color: var(--red-primary);
}
.form-input-warning {
  border: 1px solid red;
}
.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border: 1px solid var(--brown-thirdary);
  font-family: 'Montserrat-Regular';
  font-size: 16px;
  color: var(--brown-thirdary);
  text-transform: uppercase;
  cursor: auto;
  margin-top: 10px;
}
.form-button-active {
  background: var(--blue-secondary);
  color: var(--white-primary);
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.3s ease all;
}
.form-button-active:hover {
  background: var(--blue-dark-primary);
}

@media (max-width: 767px) {
  .content__carousel {
    padding-top: 60px;
  }
  .form-label {
    font-size: 16px;
  }
  .form-input {
    height: 50px;
  }
  .form-input-error {
    top: 78px;
  }
}
