/* body {
  font-family: 'Montserrat-Regular', 'CormorantGaramond-Medium',
    'CormorantGaramond-SemiBold', Arial, Helvetica, sans-serif;
} */

@import './fonts/fonts.css';

:root {
  --background-primary: #fcf9f3;

  --white-primary: #ffffff;

  --black-primary: #000000;

  --grey-dark-primary: #343a3f;

  /* --grey-primary: #f4f4f4;
  --grey-secondary: #d4d9dd;
  --grey-thirdary: #f3f3f3;

  --grey-medium-primary: #d4d9dd;
  --grey-medium-secondary: #d3d3d3;
  --grey-medium-thirdary: #e8e8e8;

  --grey-dark-primary: #343a3f;
  --grey-dark-secondary: #9d9d9d;

  --blue-primary: #4888ff;

  --brown-primary: #cdbecd; */
}

*,
*::before,
*::after,
button,
ul,
li {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  background: none;
  border: none;
  list-style: none;
  text-decoration: none;
}

body {
  background: var(--background-primary);
  /* text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

  /* max-width: 100vw; */
  /* min-height: 100vh; */
  /* overflow-x: hidden; */
}


